    <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a> {{.Site.Copyright | safeHTML}}</section>
    </footer>
    </div>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/index.js"></script>
    {{ if .Site.Params.customFooterPartial }}
        {{ partial .Site.Params.customFooterPartial . }}
    {{ end }}
</body>
</html>
