@import 'tachyons/css/tachyons.css';

:root {
  --blue: #2d4247;
  --red: #a90f0a;
  --green: #2a5540;
  --beige: #cec8a8;

  --light-blue: #92b0c2;
  --light-red: #f88a87;
  --light-green: #8cc298;
  --light-orange: #f88f00;
  --light-yellow: #bab215;
  
  color: var(--blue);
  background-color: var(--beige);
  font-family: 'helvetica neue', helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

.blue { color: var(--blue); }
.red { color: var(--red); }
.green { color: var(--green); }
.beige { color: var(--beige); }

.bg-blue { background-color: var(--blue); }

.prism-code .keyword { color: var(--light-red); }
.prism-code .property { color: var(--light-green); }
.prism-code .punctuation { color: var(--light-blue); }
.prism-code .operator { color: var(--light-blue); }
.prism-code .comment { font-style: italic; }
.prism-code .null { font-style: italic; }
.prism-code .boolean { color: var(--light-orange); }
.prism-code .number { color: var(--light-yellow); }
