@import 'tachyons/css/tachyons.css';

:root {
  --blue: rgb(45, 66, 71);
  --red: rgb(169, 15,10);
  
  background-color: rgb(206, 200, 168);
  font-family: 'helvetica neue', helvetica, sans-serif;
}

body {
  color: var(--blue);
  min-height: 100vh;
}
