@import 'tachyons/css/tachyons.css';

:root {
  color: rgb(45, 66, 71);
  background-color: rgb(206, 200, 168);
  font-family: 'helvetica neue', helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

.blue { color: rgb(45, 66, 71); }
.red { color: rgb(176, 15, 10); }
